@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500;600&family=Nunito:ital,wght@0,200;0,300;0,400;1,600&family=Poppins:wght@200;300;400;500;600;800&family=Roboto&family=Roboto+Mono:wght@400;500&display=swap');

*{

  margin: 0;
  
  padding: 0;
  
  }
  body{

    font-family: 'Nunito', italic;
    
    }

.logo{
    width: 130px;
    margin-left: 80%;  
}

.navdown{
    background-color: #efedee;   

}

.card{
    background-color: #979797;
    border: 0;       
}

.search{
    justify-content: center;
   
}


.user-sesion{
    border-radius: 25px;
    border-color: gray;
    border: 1;
}

.box{
    width: 100%;
    height: 200px;
}

.img-card{
    margin-top: 30px;
    justify-content: center;
    align-items: center;        
    width: 75px;     
   
}

.card-text{
    color: white;
    font-weight: bold;    
    
}

.banner-2{
    background-color: #565655;
}

.img-bussiness img{
  width: 100px;
  display: flex;
  align-items: center;
  flex-direction: column;   
  justify-content: center; 
  background-color:#565655;
}

 
.img-bussiness p{   
  display: flex;
  align-items: center;
  flex-direction: column;   
  justify-content: center; 
  color: white;
  font-size: 28px; 
  padding-bottom: 20px;  
    
}

.img-bussiness img{
  height: 120px;
  width: 120px; 
  padding-top: 40px;
  margin-left: 110px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;   
  justify-content: center;      
    }

.search{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: #4d4d4d;
}
.search input{      
    margin: 0;
    border-radius: 25px;   
}


.search button{
        
    background-color: #8ab524;
    border: 0;
    border-radius: 25px;
    float: left;
    
}

.search button:hover {
    background-color: #565655;    
  }

.sugerencia{  
    background: url(../img/bosque.png) no-repeat;
    background-size: cover;
    height: 25vh; 
    margin-top: 100px;  
  }   

  .sugerencia h5{
   font-weight: bold;
    padding-left: 50px;
    display: flex;
    align-items:center;  
    
  }

  .cajasugerencia{   
    float: left;
    margin: 3.4% 3.4% 30% 30%;    
    overflow: hidden;
    padding: 0;   
    height: 15vh;
    width: 40%;
    background-color: #ffff;
    border-radius: 5px;
    display: flex;
    align-items:end;  
    justify-content: center;
  }
  
.sugerencia img{
  width: 70px;
}

  .sugerencia button{
    margin-top: 6px;
    margin-bottom: 6px;
    border-radius: 25px;
    border: 0;    
    border-color: lightgray;
    box-shadow: 1px 1px 5px 1px lightgray;
    width: 180px;    
    
  }

  .sugerencia button:hover{
    background-color: #8ab524
  }

/* INICIO DE CAROUSEL */


.touch .carousel {
  overflow: auto;
}
.carousel[data-at*=left] > .wrap::before {
  opacity: 1;
  text-indent: -50px;
}
.carousel[data-at*=right] > .wrap::after {
  opacity: 1;
  text-indent: -50px;
}
.carousel::after {
  content: "";
  pointer-events: none;
  position: absolute;
  z-index: 4;
  bottom: -4px;
  left: 0;
  background: #8ab524;
  height: 4px;
  border-radius: 4px;
  opacity: 0;
  width: var(--scrollWidth, 0);
  left: var(--scrollLleft, 0);
  transition: opacity 0.2s, bottom 0.2s;
}
.carousel:hover::after {
  opacity: 1;
  bottom: -10px;
}
.carousel > .wrap {
  overflow: hidden;
  border-radius: 4px;
}
.carousel > .wrap::before, .carousel > .wrap::after {
  content: "‹";
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 2;
  width: 50px;
  font-size: 80px;
  text-indent: -30px;
  line-height: 200px;
  font-family: monospace;
  color: #555;
  font-weight: bold;
  border-radius: 8px;
  pointer-events: none;
  transition: 0.2s ease-out;
  background: linear-gradient(to right, white 20%, transparent);
}
.carousel > .wrap::after {
  transform: rotate(180deg);
  left: auto;
  right: 0;
}
.carousel > .wrap > ul {
  list-style: none;
  white-space: nowrap;
  height: 110px;
}
.carousel > .wrap > ul > li {
  display: inline-block;
  vertical-align: middle;
  height: 100%;
  margin: 0 0 0 5px;
  position: relative;
  overflow: hidden;
  transition: 0.25s ease-out;
}
.carousel > .wrap > ul > li:first-child {
  margin: 0;
}
.carousel > .wrap > ul > li > img {
  display: block;
  height: 100%;
  margin: auto; 
  position: relative;
  z-index: 1;
  transition: 1s ease;
}

.carousel {
  float: right; 
  max-width:300px;
  min-width: 800px;  
  align-items: center;  
  justify-content: center;
  flex-direction: column;
 
  
}

  .carousel h3{
    text-align: center;
    margin-top: 30px;
    color: #4d4d4d;
  }
 



/*   CELULOSA PAGE             */

.map{
  align-items: center;  
  justify-content: center;
  flex-direction: column;
  display: flex;
}

.cards-celulosa{
  background-color: #ffff;
}

.cardbosque1{  
  display: grid;
  place-content: center;
 
}

.texto-card{
  color: #ffff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
  text-align: justify;
}

.text-card-medio{
  color: #3a3a3a;
  text-align: justify;
}

  
@media only screen and (max-width: 1366px) {
  .cajasugerencia{   
    float: left;
    margin: 2% 2% 40% 29%;    
    overflow: hidden;     
    height: 22vh;
    width: 43%;
    background-color: #ffff;
    border-radius: 5px;
    display: flex;
    align-items:end;  
    justify-content: center;
  } 
  
  .sugerencia{   
    height: 30vh;
    
  } 
  
  }

  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .cajasugerencia{   
      
      height: 25vh;
      display: flex;
      align-items:end;  
      justify-content: center;
      padding-bottom: 50px;
    } 
    
    .sugerencia{   
      height: 40vh; 
      width: 60vh;
    } 

    .carousel {
      display: flex;
      font-size: 0;
      border-radius: 8px;
      padding: 8px;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
      background: white;
      transform: translateZ(0);
      height: 200px;
      -webkit-overflow-scrolling: touch;
      /* for tablets */
    }


  }

  @media (min-width: 481px) and (max-width: 767px){
    .cajasugerencia{       
      display: flex;      
      justify-content: center;
      padding-bottom: 30px;      
      height: 50vh;
      padding-left: 30px;      
    }    
    
    .sugerencia{   
      height: 60vh; 
      width: 70vh;
      
    }   
    .search{
      display: flex;
      align-items: center;
      flex-direction: column;   
      justify-content: center;      
     
  }
  .carousel{
    display: none;
  }

}
  @media (min-width: 320px) and (max-width: 480px) {
    .cajasugerencia{   
      display: flex;      
      justify-content: end;          
      height: 45vh;
      margin-right: 5px;
      margin-left: 110px; 
      margin-top: 20px;
    
  }
  .sugerencia{   
    height: 60vh; 
    width: 50vh;
    
  }   
  .sugerencia button{
    padding-top: 5px;
  }
  .carousel{
    display: none;
  }


  }
  


 