@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500;600&family=Nunito:ital,wght@0,200;0,300;0,400;1,600&family=Poppins:wght@200;300;400;500;600;800&family=Roboto&family=Roboto+Mono:wght@400;500&display=swap');

*{

  margin: 0;
  
  padding: 0;
  
  }
  body{
    font-family: 'Nunito', italic;    
    }

.logo{
    width: 130px;
    margin-left: 80%;  
}

.navdown{
    background-color: #efedee;   

}

.card{
    background-color: #979797;
    border: 0;       
}

.search{
    justify-content: center;
   
}


.user-sesion{
    border-radius: 25px;
    border-color: gray;
    border: 1;
}

.box{
    width: 100%;
    height: 200px;
}

.img-card{
    margin-top: 30px;
    justify-content: center;
    align-items: center;        
    width: 75px;   
   
}

.card-text{
    color: white;
    font-weight: bold;    
    
}

.banner-2{
    background-color: #565655;
}

.img-bussiness{
  width: 100%;  
 
}
 
.img-bussiness p{   
  display: flex;
  align-items: center;
  flex-direction: column;   
  justify-content: center; 
  color: white;
  font-size: 28px; 
  padding-bottom: 20px;  
    
}

.img-bussiness img{  
  width: 65%; 
  padding-top: 40px;
  margin-left: 110px;
  margin-bottom: 20px;
     
    }

.search{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: #4d4d4d;
}
.search input{      
    margin: 0;
    border-radius: 25px;   
}


.search button{
        
    background-color: #8ab524;
    border: 0;
    border-radius: 25px;
    float: left;
    
}

.search button:hover {
    background-color: #565655;    
  }

 /* SECCIÓN DE SUGERENCIA */

  .sugerencia{
    background: url(../img/bosque.png) no-repeat;
    width: 100%;
    height: 300px;
    object-fit: cover;
    object-position: bottom;
    display: flex;
    align-items: center;      
    justify-content: center;       
  }

  .card-sug{    
   width: 40%;      
  }
 
  .card-sug p{
    font-size: 25px;
    display: flex;
    justify-content: center;

  
  }

  .card-sug button{
   display: flex;
   align-items: center;
   flex-direction: center;
   justify-content: center;
   width:  83%;
   height: 83%;
   border-radius: 25px;
   border: 1;

  }

  .img-sug{
    margin: auto;
    width: 25%;
    padding-top: 10%;
  }






/* INICIO DE CAROUSEL */

.cuerpo{
  display: flex; 
  min-height: 20vh;
  align-items: center;
  justify-content: center;
  background: #ffff;
}

.wrapper{
  display: flex;    
  max-width: 1000px;
  position: relative;
}

.wrapper i{
  top: 50%;
  height: 44px;
  width: 44px;
  color: #343F4F;
  cursor: pointer;
  font-size: 1.15rem;
  position: absolute;
  text-align: center;
  line-height: 44px;
  background: #efedee;
  border-radius: 50%;
  transform: translateY(-50%);
  transition: transform 0.1s linear;
}
.wrapper i:hover{
  background: #f2f2f2;
}
.wrapper i:first-child{
  left: -22px;
  display: none;
}
.wrapper i:last-child{
  right: -22px;
}
.wrapper .carousel{
  font-size: 0px;
  cursor: pointer;
  overflow: hidden;
  white-space: nowrap;
  scroll-behavior: smooth; 
  
}
.carousel.dragging{
  cursor: grab;
  scroll-behavior: auto;
}
.carousel.dragging img{
  pointer-events: none;
}
.carousel img{  
  height: 100px;
  object-fit: cover;
  user-select: none;
  margin-left: 100px;
  width: calc(33% / 3);
}
.carousel img:first-child{
  margin-left: 0px;
}

/*   CELULOSA PAGE             */

.map{
  align-items: center;  
  justify-content: center;
  flex-direction: column;
  display: flex;
}


.card-image{
  width: 12vh;
  margin:auto;
  margin-top: 150px;
}

.card-image-bosques{
 position: absolute;
 width: 200px;
 top: 38%;
 right: 70%;
}
.card-image-maderas{
  position: absolute;
  width: 130px;
  top: 60%;
  right: 79%;
 }
 .card-image-pulp{
  position: absolute;
  width: 180px;
  top: 45%;
  right: 65%;
 }

.cards-celulosa{
  background-color: #ffff;
}

.cards-celulosa h2{
  color: #8ab524;
  font-weight: bold;
  font-size: 60px;
}

.cardbosque1{  
  display: grid;
  place-content: center;
 
}

.texto-card{
  color: #ffff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
  text-align: justify;
}

.text-card-medio{
  color: #3a3a3a;
  text-align: justify;
}


.siguenos{ 
  height: 1px;  
  color: #3a3a3a;
  font-size: 18px;
  padding-left: 100px
}


footer-celulosa{
 height: 200px !important;  
}

  
@media screen and (max-width: 1366px) {
  .card-sug{    
    width: 80%;             
   }

   .img-bussiness{
    width: 80%;  
  }

}

  @media screen and (max-width: 900px) {

    .img-bussiness p{

    font-size: 30px;
    display: flex;
    justify-content: center;


      }



     .wrapper{
      display: flex;    
      max-width: 500px;
      position: relative;
    }

      .carousel img{
        width: calc(30% /2);
      }   
      .search{
        display: flex;
        align-items: center;
    
        flex-direction: column;   
        justify-content: center;     
       
    }     
    

  }

  @media screen and (max-width: 550px) {    
    .wrapper{
      display: flex;    
      max-width: 300px;
      position: relative;
    }

    .carousel img{
      width: 15%;
      height: 100%;
    }

    .card-sug{ 
      width: 80%;                  
     }

     .sugerencia{
      background-image: none;
      height: 100vh;
      padding: 0;
      margin: 0;
     }

     .img-bussiness img{
      margin: auto;
      padding: 0; 
      padding-bottom: 20px;
      padding-left: 50px;
      width: 70%;


      }
             
  }
  


 